<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" style="margin-top: 3%;">
        <form class="form-inline my-2 my-lg-0 justify-content-between">
            <div>
                <input class="form-control mr-sm-2" #search type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="button" id="button-addon" (click)="registerSearch(search.value)">
                    <i class="fas fa-search"></i>
                    Search...</button>
            </div>
            <button class="btn btn-warning ml-auto mr-1">Add Categories</button>
            <button class="btn btn-success" type="button" id="button-addon" routerLink="/postjob">
                <i class="fas fa-bullhorn"></i>
                Post a Job</button>
        </form>
        <div *ngFor="let cat of cat$ | async" style="margin-top: 5%;">
            <h4 class="text-center">{{ cat.name }}</h4>
            <hr>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Position</th>
                        <th scope="col">Company</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of getCategoryList(cat.name) | slice:0:10" (click)="registerJob(todo)" routerLink="/jobinfo">
                        <ng-container *ngIf="cat.name === todo.category">
                            <td>{{ todo.location }} {{i}}</td>
                            <td>{{ todo.position }}</td>
                            <td>{{ todo.company }}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
            <a routerLink="/alljobs" class="float-right" (click)="registerCategory(cat.name)">See all {{cat.name}} jobs</a>
        </div>

    </div>
</body>